@{
    ViewData["Title"] = "Doctores Cliente AJAX";
}

<h1>Consumo de la Api Doctores</h1>
<ul class="list-group mt-3">
    <li class="list-group-item">
        <a asp-action="DoctoresCliente" asp-controller="Doctores" class="text-dark">Api Doctores AJAX</a>
    </li>
    <li class="list-group-item">
        <a asp-action="DoctoresServidor" asp-controller="Doctores" class="text-dark">Api Doctores Servidor</a>
    </li>
</ul>