
<h1>API CRUD DEPARTAMENTOS</h1>
<ul class="list-group list-group-flush mt-3">
    <li class="list-group-item">
        <a asp-action="ApiCRUDClienteAjax" asp-controller="Departamentos" class="text-dark"> Cliente Ajax</a>
    </li>
    <li class="list-group-item">
        <a asp-action="ListaDepartamentos" asp-controller="Departamentos" class="text-dark">Cliente Servicio</a>
    </li>
</ul>
